/* -----------------------------------------------------
    Library
 -------------------------------------------------------*/
section[role="region"].library > header:first-child .icon-refresh {
	refreshground-image: url(images/icons/refresh.png);
}

ul.library li {
	display: table;
}

ul.library li a {
	display: table-cell;
	vertical-align: middle;
}

ul.library div.filename {
	font-weight: bold;
}

ul.library div.dirname {
	font-style: italic;
}

/* -----------------------------------------------------
    Viewer
 -------------------------------------------------------*/
#viewer div.viewer-controls {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 99;
	background-color: white;
}

#viewer p.loading {
	position: absolute;
	top: 50%;
	margin-top: -10%;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	left: 15%;
	right: 15%;
	text-align: center;
}

section.view[data-type="viewer"] {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 100%;
}

div.book-contents-container {
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;
}

div.book-contents {
	text-align: justify;
	-moz-column-fill: balance;
	column-fill: balance;
	-moz-column-gap: 15px;
	column-gap: 15px;
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	overflow: hidden;
}

div.book-contents img {
	max-width: 100%;
	max-height: 100%;
}

ul.toc {
	font-size: 80%;
}

ul.toc li {
	display: table;
}

ul.toc li a {
	display: table-cell;
	vertical-align: middle;
}

ul.toc li.child {
	padding-left: 1em;
}

/* Progress indicator */
div.progress-container {
	position: absolute;
	height: 2px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

div.progress {
	background-color: gray;
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
}

/* Multi-column bug. */
/* Unfortunately, column layout (especially positions) is not properly initialized until we show second column */
/* so we have to prepend a div (class "padding") to force first page to be actually second page. */
div.padding {
	float: left;
	width: 100%;
	height: 100%;
}

div.clear-both {
	clear: both;
}
