html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-family: "Open Sans",sans-serif;
	font-size: 10px;
	background-color: #fff;
}

body > div {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	position: absolute;
}

section.view {
	box-sizing: border-box;
	height: calc(100% - 5rem);
	padding: 0 1.5rem;
	overflow-y: auto;
	font-size: 1.8rem;
}

div.forward {
	animation: rightToCurrent 0.4s forwards;
}

div.forward.leave {
	animation: currentToLeft 0.4s forwards;
}

div.backward {
	animation: leftToCurrent 0.4s backwards;
}

div.backward.leave {
	animation: currentToRight 0.4s backwards;
}

@keyframes currentToLeft {
	0%   { transform: translateX(0); }
	100% { transform: translateX(-100%); }
}

@keyframes currentToRight {
	0%   { transform: translateX(0); }
	100% { transform: translateX(100%); }
}

@keyframes rightToCurrent {
	0%   { transform: translateX(100%); }
	100% { transform: translateX(0); }
}

@keyframes leftToCurrent {
	0%   { transform: translateX(-100%); }
	100% { transform: translateX(0); }
}
